.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
/dist
.eslintrc.yml
.eslintignore
babel.config.js
webpack.config.js
.editorconfig
jest.config.js
tests/
.babelrc
yarn.lock
yarn.error.log
package-lock.json
.travis.yml
/coverage
.idea
